* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: #be3144;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
}

.navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 65px;
}

.navbar__link {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 20px;
  padding: 18px;
}

.hero {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #212123;
  text-align: center;
}

.hero h1 {
  font-size: 55px;
  color: #f0f0f0;
}

.hero h3 {
  font-size: 28px;
  color: #92313f;
  font-style: italic;
  font-weight: 200;
}

.projects {
  background-color: #45567d;
  padding: 92.8px 18.56px;
}

.projects h2 {
  color: #f0f0f0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 39px;
  margin: 0 auto 6rem auto;
  border-bottom: 2px solid white;
  text-align: center;
  max-width: 640px;
}

.projects .projects-tiles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  max-width: 1280px;
  margin: 0 auto 60px auto;
}

.projects .project-tile {
  background-color: #303841;
}

.projects .project-tile:hover .code {
  color: orangered;
}

.projects img {
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects .project-title {
  color: #f0f0f0;
  font-size: 18px;
  text-align: center;
  padding: 18.5px 4.5px;
}

.projects .project-title .code {
  color: #303841;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.projects .btn {
  color: #f0f0f0;
  font-size: 18.56px;
  background-color: #303841;
  padding: 9.28px 18.56px;
  width: 135px;
  height: 43px;
  display: block;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.projects .btn i {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-size: 1rem;
}

.projects .btn:hover {
  background-color: #be3144;
}

.projects .btn:hover i {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}

.contact {
  height: 70vh;
  background-color: #303841;
  color: #f0f0f0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__text {
  text-align: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.contact h1 {
  font-size: 55px;
}

.contact p {
  font-size: 16.7px;
  font-weight: 200;
  font-style: italic;
}

.contact__social-icons {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .social-icon {
  font-size: 22.27px;
  padding: 9.28px 18.56px;
}
/*# sourceMappingURL=styles.css.map */