$color-background: #eee;
$color-btn: #f1c40f;
$color-icons: darkorange;
$color-price-card: #ddd;
$color-copyright: #444;

@mixin mQ($pixel) {
  @media screen and (min-width: $pixel) {
    @content;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $color-background;
  font-family: "Lato", sans-serif;
}

.section-center {
  max-width: 1000px;
  margin: 0 auto;
}

.btn {
  display: block;
  max-width: 150px;
  width: 100%;
  padding: 0 20px;
  background-color: $color-btn;
  border: none;
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $color-background;

  #header-img {
    max-width: 300px;
    display: block;
    margin: 1rem auto;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;

    li {
      padding-bottom: 5px;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }

  @include mQ(600px) {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    ul {
      list-style: none;
    }
  }

  @include mQ(650px) {
    align-items: center;

    .header__logo {
      width: 60vw;
    }

    nav {
      width: 35vw;
    }

    nav ul {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}

.hero {
  margin-top: 120px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mQ(650px) {
    margin-top: 50px;
  }

  h2 {
    margin-bottom: 20px;
  }
  input {
    display: block;
    padding: 5px;
    font-family: inherit;
    width: 300px;
  }
  .btn {
    margin: 15px auto;
    max-width: 175px;
  }
}

.features {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
  }
  &__icon {
    width: 20vw;
    text-align: center;
  }
  &__info {
    width: 80vw;
  }
  i {
    color: $color-icons;
  }
}

#how-it-works {
  margin-top: 50px;

  #video {
    max-width: 500px;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}

.pricing {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mQ(800px) {
    flex-direction: row;

    &__card {
      width: calc((100% - 6%) / 3);
      margin: 2%;
    }
  }

  &__card {
    align-items: center;
    border: 1px solid black;
    border-radius: 2px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  &__name {
    background-color: $color-price-card;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1rem 0;
  }
  &__price {
    padding: 1rem 0;
  }
  &__content {
    margin: 15px 0;
    p {
      padding: 5px 0;
    }
  }
  .pricing-btn {
    font-weight: normal;
    padding: 0 20px;
    margin: 15px 0;
    height: 40px;
  }
}

.footer{
  background-color: $color-price-card;
  margin-top: 30px;
  padding: 20px;

  &__links{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
  }
  &__link{
    padding: 0 10px;
    text-decoration: none;
    color: inherit;
  }
  p{
    color: $color-copyright;
    font-size: 0.9rem;
    text-align: right;
    margin-top: 5px;
    padding-right: 10px;
  }
}